{{#lf-input-wrapper
  errorMessages=errorMessages
  label=label
  labelComponent=labelComponent
  errorMessagesComponent=errorMessagesComponent
  showErrorMessages=validationStateVisible
}}
  {{#if hasBlock}}
    <div class="input-group">
      {{yield}}
      {{one-way-input
        value=property
        update=(action "valueChanged")
        placeholder=placeholder
        type=type
        disabled=disabled
        readonly=readonly
        class="form-control"
      }}
    </div>
  {{else}}
      {{one-way-input
        value=property
        update=(action "valueChanged")
        placeholder=placeholder
        type=type
        disabled=disabled
        readonly=readonly
        class="form-control"
      }}
  {{/if}}
{{/lf-input-wrapper}}
