<div class="container">
  <h2 id="title">Welcome to Ember</h2>
  {{#lf-form rules=rules validityChanged=(action (mut isFormValid)) as |validateFunction|}}
    {{lf-input
      label="Name"
      property=model.name
      name="name"
      validate=validateFunction
    }}

    {{lf-textarea
      label="Textarea"
      property=model.address
      name="address"
      validate=validateFunction
      showErrorMessages=false
    }}

    {{lf-select
      label="Select"
      property=model.group
      name="group"
      content=groups
      labelPath="name"
      valuePath="id"
      validate=validateFunction
    }}

    <button class="btn btn-primary" disabled={{isBtnDisabled}}>Submit</button>
  {{/lf-form}}
</div>
